.DS_Store
.idea
.next
.obsidian
.now
.idea
node_modules
build
sandbox
stash
coverage
stats
*.log
outlined
packages/**/LICENSE
categories.json
tags.json
.vercel

# docs
docs/.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/.temp
docs/.vitepress/data/iconNodes
docs/.vitepress/data/iconMetaData.ts
docs/.vitepress/data/releaseMetaData.json
docs/.vitepress/data/releaseMetaData
docs/.vitepress/data/categoriesData.json
docs/.vitepress/data/iconDetails
docs/.vitepress/data/relatedIcons.json
docs/.vercel
docs/.nitro
